<?xml version="1.0"?>
<launch>
  <node pkg="read_pcd" name="read_pcd" type="read_pcd" output="screen">

	  <!-- <param name="map/map_file" value="$(find read_pcd)/PCDFiles/GlobalMap.pcd"/> -->
	  
	  <param name="map/map_file" value="$(find read_pcd)/PCDFiles/after_pro_629.pcd"/>  <!--  preprocessed_5cm_segment    spiral0.3_2   after_pro_629   -->
	  
	  
	</node>
</launch>
